
<div class="mt-5 container">



<section class="search_section">
  

  <div class="hero-section text-center text-white  py-md-5">
    <div class="overlay"></div>
    <h2 class=" mb-4">{{ 'BEST_PLACE_TO_SELL_AND_BUY_ANYTHING_FROM' | translate }}</h2>

    <div class="bg-dark bg-opacity-75 m-2 m-md-3 p-3 rounded-3">
      <div
        class="d-none d-md-flex justify-content-center align-items-center gap-2 gap-lg-3 mb-3 flex-wrap"
      >
        <span class="fw-bold">{{ 'SEARCHING_IN' | translate }}</span>

        <button
          *ngFor="let cat of categories"
          class="btn rounded-pill px-4 text-white"
          [ngClass]="{ 'btn-warning': selectedCategory === cat }"
          (click)="onCategoryClick(cat)"
        >
          {{ cat }}
        </button>
      </div>

      <div class="row justify-content-center mx-1">
        <div
          class="col-12 col-lg-10 bg-white rounded-3 shadow p-2 d-flex flex-column flex-md-row gap-2"
        >
          <div class="input-group flex-grow-1 border-0">
            <span class="input-group-text bg-white border-0">
              <i class="bi bi-search text-muted"></i>
            </span>
            <input
              type="text"
              class="form-control border-0"
              [placeholder]="searchPlaceholder"
              [(ngModel)]="searchQuery"
               (keyup.enter)="onSearch()"
            />
          </div>

          <button class="btn btn-warning text-white fw-bold px-5 py-2"  (click)="onSearch()">{{ 'SEARCH' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- ================= SEARCH RESULTS ================= -->
<section
  class="featured-listings container"
  *ngIf="hasSearched"
>
  <h2>{{ 'SEARCH_RESULTS' | translate }}<span class="text-muted fs-6">
      for "{{ searchQuery }}"
    </span>
  </h2>

  <!-- Loader -->
  <div *ngIf="isSearching" class="text-center py-5">
    <div class="spinner-border text-warning"></div>
  </div>

  <!-- Results -->
  <div
    class="featured-row p-3 p-md-4"
    *ngIf=" searchResults.length" 
  >
    <div
      class="listing-card"
      *ngFor="let item of searchResults"
      (click)="goToCategory(item)"
    >
      <div class="image-wrapper">
        <img [src]="item.imageUrl" [alt]="item.title" />
      </div>

      <div>
        <p class="mb-0">{{ item.title }}</p>
        <p class="price mb-0">{{ item.price }}</p>
        <p class="city mb-0">{{ item.city }}</p>
      </div>
    </div>
  </div>

  <!-- No results -->
  <p
    *ngIf="!isSearching && !searchResults.length"
    class="text-muted text-center py-4"
  >{{ 'NO_RESULTS_FOUND_' | translate }}</p>
</section>


<div class="post_add_section px-md-5">
  <section class="bg-warning add-post">
    <div 
      class="container d-flex flex-column flex-md-row justify-content-between align-items-center text-center text-md-start"
    >
      <div class="text-white mb-3 mb-md-0">
        <h4 class="fw-bold m-0">{{ 'HAVE_SOMETHING_TO_SELL_' | translate }}</h4>
        <p class="m-0">{{ 'POST_AN_AD_FOR_FREE_AND_START_EARNING_TO' | translate }}</p>
      </div>
      <button routerLink="/add-post"
        class="btn btn-white bg-white text-warning fw-bold px-4 py-3 shadow-sm rounded-3 mt-3 mt-md-0"
      >{{ 'POST_YOUR_AD_NOW' | translate }}</button>
    </div>
  </section>
</div>

<div class="d-flex flex-column flex-md-row justify-content-center">

  <!-- Interior Designer Card -->
  <section class="interior_design_section">
    <div
      class="designer-banner d-flex flex-column flex-md-row  rounded-4 p-3"
      style="background: #FFEECF;"
    >
      <!-- Image -->
      <div class="mb-3 mb-md-0 me-md-4 text-center">
        <img
          src="/assets/images/interior_design.png"
          class="int-img"
          alt="Interior Designer Preview"
        />
      </div>

      <!-- Text + Button -->
      <div class="text-center text-md-start">
        <h4 class="fw-bold mb-2">{{ 'LOOKING_FOR_AN_INTERIOR_DESIGNER_' | translate }}</h4>
        <p class="text-muted mb-3">{{ 'FIND_THE_PERFECT_MATCH_FOR_YOUR_DREAM_SP' | translate }}</p>

        <button
          class="btn fw-bold text-white px-4 py-2 rounded-3"
          style="background:#FFA500;"
          routerLink="/listings/interior-designers"
        >{{ 'EXPLORE' | translate }}</button>
      </div>
    </div>
  </section>

  <!-- Agents & Agencies Card -->
  <section class="interior_design_section">
    <div
      class="designer-banner d-flex flex-column flex-md-row align-items-center rounded-4 p-3"
      style="background: #FFEECF;"
    >
      <!-- Image -->
      <div class="mb-3 mb-md-0 me-md-4 text-center order-md-2">
        <img
          src="/assets/images/agents.png"
          class="int-img"
          alt="Agents Preview"
        />
      </div>

      <!-- Text + Button -->
      <div class="text-center text-md-start order-md-1">
        <h4 class="fw-bold mb-2">{{ 'CONNECT_WITH_AGENTS_AND_AGENCIES_' | translate }}</h4>
        <p class="text-muted mb-3">{{ 'REACH_OUR_PARTNERS_TO_FIND_YOUR_PERFECT_' | translate }}</p>

        <button
          class="btn fw-bold text-white px-4 py-2 rounded-3"
          style="background:#FFA500;"
          (click)="openCmgSoon()"
        >{{ 'FIND_NOW' | translate }}</button>
      </div>
    </div>
  </section>

</div>





<section class="browse-by-category mb-3">
  <div class="container border border-light-subtle rounded-4 p-3 p-md-4">
    <h2 class="fw-bold">{{ 'BROWSE_BY_CATEGORY' | translate }}</h2>

    <div class="category-grid">
      <div class="category-card" routerLink="/listings/property">
        <img
          src="/assets/images/Property.jpg"
          alt="Property"
        />
        <h3>{{ 'PROPERTY' | translate }}</h3>
      </div>

      <div class="category-card"  routerLink="/listings/motors">
        <img
          src="/assets/images/Motors.jpg"
          alt="Motors"
        />
        <h3>{{ 'MOTORS' | translate }}</h3>
      </div>

      <div class="category-card"  routerLink="/listings/electronics">
        <img
          src="/assets/images/Electronics.jpg"
          alt="Electronics"
        />
        <h3>{{ 'ELECTRONICS' | translate }}</h3>
      </div>

      <div class="category-card"  routerLink="/listings/furniture">
        <img
          src="/assets/images/Furniture.jpg"
          alt="Furniture"
        />
        <h3>{{ 'FURNITURE' | translate }}</h3>
      </div>

      <div class="category-card"  routerLink="/listings/classifieds">
        <img
          src="/assets/images/Classifieds.jpg"
          alt="Classifieds"
        />
        <h3>{{ 'CLASSIFIEDS' | translate }}</h3>
      </div>

      <div class="category-card"  routerLink="/listings/jobs">
        <img
          src="https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?auto=format&fit=crop&w=800&q=80"
          alt="Jobs"
        />
        <h3>{{ 'JOBS' | translate }}</h3>
      </div>

      <div class="category-card"  routerLink="/listings/property">
        <img
          src="/assets/images/Rooms for rent.jpg"
          alt="Rooms for Rent"
        />
        <h3>{{ 'ROOMS_FOR_RENT' | translate }}</h3>
      </div>

      <div class="category-card"  routerLink="/listings/interior-designers">
        <img
          src="/assets/images/Interior Designers.jpg"
          alt="Interior Designers"
        />
        <h3>{{ 'INTERIOR_DESIGNERS' | translate }}</h3>
      </div>
    </div>
  </div>
</section>

<section class="featured-listings container">
  <h2>{{ 'FEATURED_FOR_YOU' | translate }}</h2>

  <div class="featured-row p-3 p-md-4">
    <div class="listing-card" *ngFor="let item of featuredListings"  (click)="goToCategory(item)">
      <div class="image-wrapper">
        <img [src]="item.imageUrl" [alt]="item.title" />
      </div>
      <div>
        <p class="mb-0">{{ item.title }}</p>
        <p *ngIf="item.price && item.price !== '0'" class="price mb-0">{{ item.price }}</p>
        <p class="city mb-0">{{ item.city }}</p>
      </div>
    </div>
  </div>
</section>

<section class="featured-listings container">
  <h2>{{ 'POPULAR_IN_MOTORS' | translate }}</h2>

  <div class="featured-row p-3 p-md-4">
    <div class="listing-card" *ngFor="let item of popularCars"  (click)="goToCategory(item)">
      <div class="image-wrapper">
        <img [src]="item.imageUrl" [alt]="item.title" />
      </div>

      <div>
        <p class="mb-0">{{ item.title }}</p>
        <p class="price mb-0">{{ item.price }}</p>
        <p class="city mb-0">{{ item.city }}</p>
      </div>
    </div>
  </div>
</section>

<section class="featured-listings container">
  <h2>{{ 'POPULAR_IN_FURNITURE' | translate }}</h2>

  <div class="featured-row p-3 p-md-4">
    <div class="listing-card" *ngFor="let item of popularFurniture"  (click)="goToCategory(item)">
      <div class="image-wrapper">
        <img [src]="item.imageUrl" [alt]="item.title" />
      </div>

      <div>
        <p class="mb-0">{{ item.title }}</p>
        <p class="price mb-0">{{ item.price }}</p>
        <p class="city mb-0">{{ item.city }}</p>
      </div>
    </div>
  </div>
</section>

<section class="featured-listings container">
  <h2>{{ 'POPULAR_IN_RESDENTIALS' | translate }}</h2>

  <div class="featured-row p-3 p-md-4">
    <div class="listing-card" *ngFor="let item of residentialListings"  (click)="goToCategory(item)">
      <div class="image-wrapper">
        <img [src]="item.imageUrl" [alt]="item.title" />
      </div>

      <div>
        <p class="mb-0">{{ item.title }}</p>
        <p class="price mb-0">{{ item.price }}</p>
        <p class="city mb-0">{{ item.city }}</p>
      </div>
    </div>
  </div>
</section>

<section class="featured-listings container">
  <h2>{{ 'POPULAR_IN_ELECTRONICS' | translate }}</h2>

  <div class="featured-row p-3 p-md-4">
    <div class="listing-card" *ngFor="let item of electronicsListings"  (click)="goToCategory(item)">
      <div class="image-wrapper">
        <img [src]="item.imageUrl" [alt]="item.title" />
      </div>

      <div>
        <p class="mb-0">{{ item.title }}</p>
        <p class="price mb-0">{{ item.price }}</p>
        <p class="city mb-0">{{ item.city }}</p>
      </div>
    </div>
  </div>
</section>

<section class="featured-listings container">
  <h2>{{ 'POPULAR_IN_CLASSIFIEDS' | translate }}</h2>

  <div class="featured-row p-3 p-md-4">
    <div class="listing-card" *ngFor="let item of classifiedListings"  (click)="goToCategory(item)">
      <div class="image-wrapper">
        <img [src]="item.imageUrl" [alt]="item.title" />
      </div>

      <div>
        <p class="mb-0">{{ item.title }}</p>
        <p class="price mb-0">{{ item.price }}</p>
        <p class="city mb-0">{{ item.city }}</p>
      </div>
    </div>
  </div>
</section>

</div>

<div *ngIf="showCmgSoon" class="cmg-soon-overlay">
  
  <div class="cmg-soon-content">
    <div class="cmg-soon-header d-flex justify-content-end">
    <i class="bi bi-x-lg cmg-close-btn" (click)="showCmgSoon = false"></i>
  </div>
    <p>{{ 'COMING_SOON_' | translate }}</p>
  </div>
</div>