/* Override Bootstrap warning background + text utilities */
.main-content {
  /* Adjust based on your navbar height */
  min-height: 100vh;
}

/* If navbar is fixed */
app-navbar,
.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  background: white;
}

.bg-warning {
  background-color: #ffa500 !important;
}

.text-warning {
  color: #ffa500 !important;
}


.btn-warning {
  background-color: #ffa500 !important;
  border-color: #ffa500 !important;
}

.btn-warning:hover {
  background-color: #e59400 !important;
  border-color: #e59400 !important;
}

.main-footer {
  background-color: #eeeeee;
  border-top: 1px solid #eee;
}

.footer-links a {
  text-decoration: none;
  color: #6c757d;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.footer-links a:hover {
  color: #ffa500;
  padding-left: 5px;
}

.social-icons a {
  width: 35px;
  height: 35px;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ffa500;
  text-decoration: none;
  transition: 0.3s;
}

.social-icons a:hover {
  background-color: #ffa500;
  color: #fff;
}
