<div class="terms-container px-4 py-6">
  <h1 class="text-warning mb-3">{{ 'TERMS_OF_USE_' | translate }}</h1>
  

  <h2>{{ 'ITEMS_AND_SERVICES_THAT_CANNOT_BE_LISTED' | translate }}</h2>

  <p>{{ 'DUBILIST_SUPPORTS_THE_LISTING_OF_MANY_TY' | translate }}</p>

  <p>{{ 'IF_YOU_ARE_UNCERTAIN_WHETHER_A_PRODUCT_O' | translate }}</p>

  <hr />

  <h3>{{ 'IMPORTANT_NOTICE' | translate }}</h3>
  <ul>
    <li>{{ 'THE_EXAMPLES_LISTED_BELOW_ARE_ILLUSTRATI' | translate }}</li>
    <li>{{ 'DUBILIST_RESERVES_THE_RIGHT_TO_REMOVE_AN' | translate }}</li>
    <li>{{ 'USERS_WHO_REPEATEDLY_OR_DELIBERATELY_ATT' | translate }}</li>
    <li>{{ 'NO_REFUNDS_WILL_BE_ISSUED_FOR_LISTINGS_R' | translate }}</li>
  </ul>

  <hr />

  <h3>{{ 'PROHIBITED_ITEMS_AND_SERVICES' | translate }}</h3>
  <p>{{ 'LISTINGS_RELATED_TO_THE_FOLLOWING_CATEGO' | translate }}</p>

  <h4>{{ 'ILLEGAL_REGULATED_OR_RESTRICTED_ACTIVITI' | translate }}</h4>
  <ul>
    <li>{{ 'GAMBLING_RELATED_SERVICES_EQUIPMENT_OR_M' | translate }}</li>
    <li>{{ 'REQUESTS_FOR_DONATIONS_OR_CHARITABLE_CON' | translate }}</li>
    <li>{{ 'SALE_OR_EXCHANGE_OF_PERSONAL_DATA_DATABA' | translate }}</li>
    <li>{{ 'VPN_SERVICES_HACKING_TOOLS_JAILBREAKING_' | translate }}</li>
  </ul>

  <h4>{{ 'ANIMALS_AND_WILDLIFE' | translate }}</h4>
  <ul>
    <li>{{ 'SALE_OF_ANIMALS_INCLUDING_LISTINGS_REQUE' | translate }}</li>
    <li>{{ 'SALE_OF_ANIMAL_PARTS_OR_PRODUCTS_DERIVED' | translate }}</li>
    <li>{{ 'TAXIDERMY_INVOLVING_REAL_ANIMALS' | translate }}</li>
    <li>{{ 'ANIMAL_BREEDING_SERVICES' | translate }}</li>
    <li>{{ 'ITEMS_MADE_FROM_OR_CONTAINING_IVORY' | translate }}</li>
  </ul>

  <h4>{{ 'OFFICIAL_DOCUMENTS_AND_HUMAN_RELATED_LIS' | translate }}</h4>
  <ul>
    <li>{{ 'VISAS_OR_GOVERNMENT_ISSUED_DOCUMENTS' | translate }}</li>
    <li>{{ 'ACADEMIC_CERTIFICATES_DEGREES_OR_QUALIFI' | translate }}</li>
    <li>{{ 'HUMAN_ORGANS_BODY_PARTS_OR_REMAINS' | translate }}</li>
    <li>{{ 'LISTINGS_SEEKING_OR_OFFERING_MARRIAGE_OR' | translate }}</li>
  </ul>

  <h4>{{ 'ADULT_INAPPROPRIATE_OR_MISLEADING_CONTEN' | translate }}</h4>
  <ul>
    <li>{{ 'SEXUALLY_EXPLICIT_OR_INDECENT_PRODUCTS_O' | translate }}</li>
    <li>{{ 'MASSAGE_SERVICES_OF_ANY_KIND' | translate }}</li>
    <li>{{ 'JOKE_PARODY_OR_NON_GENUINE_LISTINGS' | translate }}</li>
  </ul>

  <h4>{{ 'HEALTH_FOOD_AND_CONSUMABLES' | translate }}</h4>
  <ul>
    <li>{{ 'TOBACCO_PRODUCTS_INCLUDING_CIGARETTES_E_' | translate }}</li>
    <li>{{ 'ILLEGAL_DRUGS_PRESCRIPTION_MEDICATION_OR' | translate }}</li>
    <li>{{ 'MEDICAL_PRODUCTS_OR_MEDICAL_SERVICES' | translate }}</li>
    <li>{{ 'HEALING_OR_ALTERNATIVE_THERAPY_PRODUCTS_' | translate }}</li>
    <li>{{ 'FITNESS_OR_DIETARY_SUPPLEMENTS' | translate }}</li>
    <li>{{ 'FOOD_AND_EDIBLE_ITEMS' | translate }}</li>
    <li>{{ 'ALCOHOLIC_BEVERAGES' | translate }}</li>
  </ul>

  <h4>{{ 'FINANCIAL_AND_DIGITAL_ASSETS' | translate }}</h4>
  <ul>
    <li>{{ 'CRYPTOCURRENCIES_VIRTUAL_CURRENCIES_FORE' | translate }}</li>
    <li>{{ 'STOCKS_SHARES_OR_SECURITIES_EXCLUDING_CO' | translate }}</li>
    <li>{{ 'GET_RICH_QUICK_SCHEMES_PYRAMID_SCHEMES_O' | translate }}</li>
    <li>{{ 'CREDIT_CARDS_DEBIT_CARDS_OR_BANKING_INST' | translate }}</li>
  </ul>

  <h4>{{ 'TRANSPORT_AND_ACCESS_RELATED_SERVICES' | translate }}</h4>
  <ul>
    <li>{{ 'CAR_LIFT_OR_CAR_SHARING_SERVICES' | translate }}</li>
  </ul>

  <h4>{{ 'WEAPONS_AND_DANGEROUS_GOODS' | translate }}</h4>
  <ul>
    <li>{{ 'WEAPONS_FIREARMS_AMMUNITION_OR_WEAPON_AC' | translate }}</li>
    <li>{{ 'HAZARDOUS_CHEMICALS_OR_DANGEROUS_SUBSTAN' | translate }}</li>
  </ul>

  <h4>{{ 'GOVERNMENT_RESTRICTED_PROPERTY' | translate }}</h4>
  <ul>
    <li>{{ 'POLICE_MILITARY_OR_GOVERNMENT_ISSUED_ITE' | translate }}</li>
  </ul>

  <h4>{{ 'INTELLECTUAL_PROPERTY_AND_AUTHENTICITY_I' | translate }}</h4>
  <ul>
    <li>{{ 'COUNTERFEIT_FAKE_OR_REPLICA_GOODS' | translate }}</li>
    <li>{{ 'SELLING_CERTIFICATES_OF_AUTHENTICITY_OR_' | translate }}</li>
  </ul>

  <h4>{{ 'MISCELLANEOUS_RESTRICTIONS' | translate }}</h4>
  <ul>
    <li>{{ 'MOBILE_PHONE_NUMBERS_OR_SIM_RELATED_LIST' | translate }}</li>
    <li>{{ 'SALIK_CARDS_OR_SIMILAR_TOLL_RELATED_ITEM' | translate }}</li>
    <li>{{ 'ADVERTISEMENTS_PROMOTING_COMPETITORS_OF_' | translate }}</li>
    <li>{{ 'RESELLING_PRODUCTS_OR_SERVICES_IN_VIOLAT' | translate }}</li>
    <li>{{ 'SPAM_LISTINGS_DUPLICATE_ADS_OR_REPETITIV' | translate }}</li>
  </ul>

  <hr />

  <h3>{{ 'ENFORCEMENT' | translate }}</h3>
  <p>{{ 'ANY_LISTING_FOUND_TO_VIOLATE_THESE_RULES' | translate }}</p>
</div>
