/* ==========================================
   CUSTOM ROUND CURSOR STYLING
   ========================================== */

/* Hide the default system cursor on the whole page */
html, body {
  font-size: small;
}



/* Offset for fixed-top navbar */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: #333;
  overflow-x: hidden;
 /* adjust if navbar taller/shorter */
}

@media (max-width: 1024px) {


 
}

/* Override Bootstrap warning background + text utilities */
.bg-warning {
  background-color: #ffa500 !important;
}

.text-warning {
  color: #ffa500 !important;
}

